# VCS
.git
.github/
.gitattributes
.gitignore

# OS/editor junk
.DS_Store
Thumbs.db
*.swp
*.swo
*~
*.log
.idea/
.vscode/

# Local build outputs
bin/

src/**/*.o
src/**/*.a

src/anal/cruncher
src/anal/deverbal
src/anal/findbase
src/anal/morpheus
src/anal/pname

src/gener/checkstype
src/gener/do_conj
src/gener/gener

src/gkdict/combitype
src/gkdict/conj1
src/gkdict/fixgend
src/gkdict/fixhesc
src/gkdict/indexcomps
src/gkdict/indexnoms
src/gkdict/indexvbs
src/gkdict/latnom
src/gkdict/latvb
src/gkdict/newlems
src/gkdict/newlems2
src/gkdict/setquant
src/gkdict/splitlat
src/gkdict/splitlems

src/gkends/buildderiv
src/gkends/buildend
src/gkends/buildword
src/gkends/indderivtables
src/gkends/indendtables

# update.sh outputs
stemlib/Latin/conjfile
stemlib/Latin/oddfile

stemlib/**/endtables/ascii/**
stemlib/**/endtables/indices/**
stemlib/**/endtables/out/**

stemlib/**/derivs/ascii/
stemlib/**/derivs/indices/
stemlib/**/derivs/out/

stemlib/**/steminds/

stemlib/Latin/stemsrc/nom.irreg
stemlib/Latin/stemsrc/vbs.irreg

# Optional: repo docs not needed for the build
doc/