bin
src/anal/cruncher
src/anal/deverbal
src/anal/findbase
src/anal/pname
src/gener/checkstype
src/gener/do_conj
src/gener/gener
src/gkdict/combitype
src/gkdict/conj1
src/gkdict/fixgend
src/gkdict/fixhesc
src/gkdict/indexcomps
src/gkdict/indexnoms
src/gkdict/indexvbs
src/gkdict/latnom
src/gkdict/latvb
src/gkdict/newlems
src/gkdict/newlems2
src/gkdict/setquant
src/gkdict/splitlat
src/gkdict/splitlems
src/gkends/buildderiv
src/gkends/buildend
src/gkends/buildword
src/gkends/indderivtables
src/gkends/indendtables
stemlib/Latin/conjfile
stemlib/Latin/conjfile.short
stemlib/Latin/oddfile
stemlib/Latin/derivs/ascii
stemlib/Latin/derivs/indices
stemlib/Latin/endtables/ascii
stemlib/Latin/endtables/indices
stemlib/Latin/steminds/
stemlib/Greek/conjfile
stemlib/Greek/derivs/ascii
stemlib/Greek/derivs/indices
stemlib/Greek/endtables/ascii
stemlib/Greek/endtables/indices
stemlib/Greek/steminds/
stemlib/Greek/stemsrc/flatlems
stemlib/Greek/stemsrc/goodstem
stemlib/Greek/stemsrc/headnolen
stemlib/Greek/stemsrc/stripref
stemlib/Greek/stemsrc/zapfirstf
stemlib/Greek/stemsrc/dopnom


# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/